form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 20px auto;
}

form input {
  min-height: 40px;
  margin: 12px 0;
  padding: 12px;
  font-size: 20px;
}

button.submit-btn {
  height: 50px;
  max-width: 50%;
  width: 100%;
  margin: auto;
  background: #CC0000;
  border: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
}